---
layout: default
---
<!-- Start Main content -->
    <main class="bg-grey pb-30">
        <div class="container pt-30">
            <div class="featured-slider-3 position-relative">
                <div class="slider-3-arrow-cover"></div>
                <div class="featured-slider-3-items">
                    {% for post in site.posts %}

                    <div class="slider-single overflow-hidden border-radius-10">
                        <div class="post-thumb position-relative">
                            {% assign image_big = post.img_big_3000x1144 %}
                            {% unless image_big %}
                                {% assign image_big = "http://via.placeholder.com/3000x1144" %}
                            {% endunless %}
                            <div class="thumb-overlay position-relative" style="background-image: url( {{ image_big }} )">
                                <div class="post-content-overlay">
                                    <div class="container">
                                        <div class="entry-meta meta-0 font-small mb-20">
                                            {% for category in post.categories %}
                                            {% capture category_name %}{{ category | first }}{% endcapture %}
                                            <a href="{{site.baseurl}}/categories/#{{category|slugize}}" tabindex="0"><span class="post-cat text-info text-uppercase">{{category}}</span></a>
                                            {% endfor %}
                                        </div>
                                        <h1 class="post-title mb-20 font-weight-900 text-white">
                                            <a class="text-white" href="{{ post.url }}" tabindex="0">{{ post.title }}</a>
                                        </h1>
                                        <div class="entry-meta meta-1 font-small text-white mt-10 pr-5 pl-5">
                                            <!-- <span class="post-on">{{ post.date | date: '%B %d, %Y'}}</span> -->
                                            <!-- <span class="hit-count has-dot">{{ post.views }}</span> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- End feature -->
        <div class="container">
            <div class="hot-tags pt-30 pb-30 font-small align-self-center">
                 <div class="widget-header-3">
                    <div class="row align-self-center">
                        <div class="col-md-4 align-self-center">
                            <h5 class="widget-title">Featured posts</h5>
                        </div>
                        {% include tags.html %}
                    </div>
                </div>
            </div>


            <div class="loop-grid mb-30">
                <div class="row">
                    <div class="col-lg-8 mb-30">
                        <div class="carausel-post-1 hover-up border-radius-10 overflow-hidden transition-normal position-relative wow fadeInUp animated">
                            <div class="arrow-cover"></div>
                            <div class="slide-fade">
                                <div class="position-relative post-thumb">
                                    <div class="thumb-overlay img-hover-slide position-relative" style="background-image: url(/images/3000x1144/4.png)">
                                        <a class="img-link" href="single.html"></a>
                                        <span class="top-left-icon bg-warning"><i class="elegant-icon icon_star_alt"></i></span>
                                        <div class="post-content-overlay text-white ml-30 mr-30 pb-30">
                                            <div class="entry-meta meta-0 font-small mb-20">
                                                <a href="category.html"><span class="post-cat text-info text-uppercase"></span></a>
                                                <a href="category.html"><span class="post-cat text-success text-uppercase"></span></a>
                                            </div>
                                            <h3 class="post-title font-weight-900 mb-20">
                                                <a class="text-white" href="single.html"></a>
                                            </h3>
                                            <div class="entry-meta meta-1 font-small text-white mt-10 pr-5 pl-5">
                                                <span class="post-on"></span>
                                                <span class="hit-count has-dot"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="position-relative post-thumb">
                                    <div class="thumb-overlay img-hover-slide position-relative" style="background-image: url(/images/3000x1144/3.png)">
                                        <a class="img-link" href="single.html"></a>
                                        <span class="top-left-icon bg-danger"><i class="elegant-icon icon_image"></i></span>
                                        <div class="post-content-overlay text-white ml-30 mr-30 pb-30">
                                            <div class="entry-meta meta-0 font-small mb-20">
                                                <a href="category.html"><span class="post-cat text-info text-uppercase"></span></a>
                                            </div>
                                            <h3 class="post-title font-weight-900 mb-20">
                                                <a class="text-white" href="single.html"></a>
                                            </h3>
                                            <div class="entry-meta meta-1 font-small text-white mt-10 pr-5 pl-5">
                                                <span class="post-on"></span>
                                                <span class="hit-count has-dot"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% for post in site.posts limit: 7 %}

                    {% assign image_big = post.img_big_3000x1144 %}
                    {% unless image_big %}
                    {% assign image_big = "https://via.placeholder.com/3000x1144" %}
                    {% endunless %}

                    <article class="col-lg-4 col-md-6 mb-30 wow fadeInUp animated" data-wow-delay="0.2s">
                        <div class="post-card-1 border-radius-10 hover-up">
                            <div class="post-thumb thumb-overlay img-hover-slide position-relative" style="background-image: url({{ image_big }})">
                                <a class="img-link" href="{{ post.url }}"></a>
                                <span class="top-right-icon bg-success"><i class="elegant-icon icon_camera_alt"></i></span>
                                <ul class="social-share">
                                    <li><a href="#"><i class="elegant-icon social_share"></i></a></li>
                                    <li><a class="fb" href="#" title="Share on Facebook" target="_blank"><i class="elegant-icon social_facebook"></i></a></li>
                                    <li><a class="tw" href="#" target="_blank" title="Tweet now"><i class="elegant-icon social_twitter"></i></a></li>
                                    <li><a class="pt" href="#" target="_blank" title="Pin it"><i class="elegant-icon social_pinterest"></i></a></li>
                                </ul>
                            </div>
                            <div class="post-content p-30">
                                <div class="entry-meta meta-0 font-small mb-10">
                                    <!-- <a href="category.html"><span class="post-cat text-info">Travel</span></a> -->
                                    <a href="{{ post.url }}"><span class="post-cat text-success">{{ post.title }}</span></a>
                                </div>
                                <!-- <div class="d-flex post-card-content">
                                    <h5 class="post-title mb-20 font-weight-900">
                                        <a href="single.html">Want fluffy Japanese pancakes but can’t fly to Tokyo?</a>
                                    </h5>
                                    <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                        <span class="post-on">27 August</span>
                                        <span class="time-reading has-dot">12 mins read</span>
                                        <span class="post-by has-dot">23k views</span>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </article>

                    {% endfor %}

                </div>
            </div>
        </div>
                                </article>
                            </div>
                        </div>
                       
                    </div>
                   
                </div>
            </div>
        </div> -->
    </main>
    <!-- End Main content -->
    <!--site-bottom-->
    <div class="site-bottom pt-50 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="sidebar-widget widget-latest-posts mb-30 wow fadeInUp animated">
                        <div class="widget-header-2 position-relative mb-30">
                            <h5 class="mt-5 mb-30">Destinations</h5>
                        </div>
                        <div class="post-block-list post-module-1">
                            <ul class="list-post">

                                {%for post in site.posts limit: 3 %}
                                {% if post.categories contains "destination"%}

                                {% assign image_big = post.img_big_3000x1144 %}
                                {% unless image_big %}
                                    {% assign image_big = "https://via.placeholder.com/3000x1144" %}
                                {% endunless %}

                                <li class="mb-30">
                                    <div class="d-flex hover-up-2 transition-normal">
                                        <div class="post-thumb post-thumb-80 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">
                                            <a class="color-white" href="{{ post.url }}">
                                                <img src="{{ image_big }}" alt="">
                                            </a>
                                        </div>
                                        <div class="post-content media-body">
                                            <h6 class="post-title mb-15 text-limit-2-row font-medium"><a href="{{ post.url }}">{{ post.title }}</a></h6>
                                            <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                                <span class="post-on">{{ post.date | date_to_string }}</span>
                                                <span class="post-by has-dot">{{ post.views }} views</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                {% endif %}
                                {% endfor %}

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="sidebar-widget widget-latest-posts mb-30 wow fadeInUp animated" data-wow-delay="0.2s">
                        <div class="widget-header-2 position-relative mb-30">
                            <h5 class="mt-5 mb-30">Foods</h5>
                        </div>
                        <div class="post-block-list post-module-1">
                            <ul class="list-post">

                                {% for post in site.posts limit: 3 %}

                                <li class="mb-30">
                                    <div class="d-flex hover-up-2 transition-normal">
                                        <div class="post-thumb post-thumb-80 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">
                                            <a class="color-white" href="{{ post.url }}">
                                                <img src="images/3000x1144/pic.2.6.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="post-content media-body">
                                            <h6 class="post-title mb-15 text-limit-2-row font-medium"><a href="{{ post.url }}">KAON SA CEBU: Kalami! Unlimited Korean BBQ and Buffet at Barangay Seoul in Cebu.</a></h6>
                                            <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                                <span class="post-on">{{ post.date | date_to_string }}</span>
                                                <span class="post-by has-dot">{{ post.views }} views</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                {% endfor %}
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="sidebar-widget widget-latest-posts mb-30 wow fadeInUp animated" data-wow-delay="0.4s">
                        <div class="widget-header-2 position-relative mb-30">
                            <h5 class="mt-5 mb-30">Lifestyle</h5>
                        </div>
                        <div class="post-block-list post-module-1">
                            <ul class="list-post">
                                <li class="mb-30">
                                    <div class="d-flex hover-up-2 transition-normal">
                                        <div class="post-thumb post-thumb-80 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">
                                            <a class="color-white" href="single.html">
                                                <img src="images/3000x1144/Pic.1.1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="post-content media-body">
                                            <h6 class="post-title mb-15 text-limit-2-row font-medium"><a href="single.html">Kanindot diri! Ganahan mo Relax and Chill out with friends? a MUST-VISIT, STAY N SAVE in Oslob, Cebu! </a></h6>
                                            <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                                <span class="post-on">06 May</span>
                                                <span class="post-by has-dot">23k views</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="mb-30">
                                    <div class="d-flex hover-up-2 transition-normal">
                                        <div class="post-thumb post-thumb-80 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">
                                            <a class="color-white" href="single.html">
                                                <img src="images/3000x1144/pic.2.1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="post-content media-body">
                                            <h6 class="post-title mb-15 text-limit-2-row font-medium"><a href="single.html">KAON SA CEBU: Kalami! Unlimited Korean BBQ and Buffet at Barangay Seoul in Cebu. </a></h6>
                                            <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                                <span class="post-on">05 Jun</span>
                                                <span class="post-by has-dot">5k views</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="mb-30">
                                    <div class="d-flex hover-up-2 transition-normal">
                                        <div class="post-thumb post-thumb-80 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">
                                            <a class="color-white" href="single.html">
                                                <img src="images/3000x1144/pic.1.5.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="post-content media-body">
                                            <h6 class="post-title mb-15 text-limit-2-row font-medium"><a href="single.html">Exact Location: N. Bacalso Avenue, Brgy. Tan-awan, Oslob, Cebu Philippines.</a></h6>
                                            <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                                <span class="post-on">08 August</span>
                                                <span class="post-by has-dot">2k views</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar-widget widget-latest-posts mb-30 mt-20 wow fadeInUp animated">
                <div class="widget-header-2 position-relative mb-30">
                    <h5 class="mt-5 mb-30">Categories</h5>
                </div>
                <div class="carausel-3-columns">
                    <div class="carausel-3-columns-item d-flex bg-grey has-border p-25 hover-up-2 transition-normal border-radius-5">
                        <div class="post-thumb post-thumb-64 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">
                            <a class="color-white" href="single.html">
                                <img src="images/logo/traveltips.png" alt="">
                            </a>
                        </div>
                        <div class="post-content media-body">
                            <h6> <a href="category.html">Travel Tips</a> </h6>
                            <p class="text-muted font-small">Live with no excuses and travel with no regrets.</p>
                        </div>
                    </div>
                    <div class="carausel-3-columns-item d-flex bg-grey has-border p-25 hover-up-2 transition-normal border-radius-5">
                        <div class="post-thumb post-thumb-64 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">
                            <a class="color-white" href="single.html">
                                <img src="images/logo/lifestyle.png" alt="">
                            </a>
                        </div>
                        <div class="post-content media-body">
                            <h6><a href="category.html">Lifestyle</a></h6>
                            <p class="text-muted font-small">The way to get started is to quit talking and begin doing.</p>
                        </div>
                    </div>
                    <div class="carausel-3-columns-item d-flex bg-grey has-border p-25 hover-up-2 transition-normal border-radius-5">
                        <div class="post-thumb post-thumb-64 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">
                            <a class="color-white" href="single.html">
                                <img src="images/logo/food.png" alt="">
                            </a>
                        </div>
                        <div class="post-content media-body">
                            <h6><a href="category.html">Foody</a></h6>
                            <p class="text-muted font-small">Nothing brings people together like good food.</p>
                        </div>
                    </div>
                    <div class="carausel-3-columns-item d-flex bg-grey has-border p-25 hover-up-2 transition-normal border-radius-5">
                        <div class="post-thumb post-thumb-64 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">
                            <a class="color-white" href="single.html">
                                <img src="images/logo/entertainment.png" alt="">
                            </a>
                        </div>
                        <div class="post-content media-body">
                            <h6><a href="category.html">Entertaiment</a></h6>
                            <p class="text-muted font-small">Entertainment has this way of resetting itself.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--container-->
    <!-- </div> -->
    <!--end site-bottom-->