<div class="sidebar-widget widget-latest-posts mb-30 mt-20 wow fadeInUp animated">
    <div class="widget-header-2 position-relative mb-30">
        <h5 class="mt-5 mb-30">Partners & Sponsors</h5>
    </div>
    <div class="carausel-3-columns">
        {% for sponsor in site.data.ads.partners_sponsors %}
        <div class="carausel-3-columns-item d-flex bg-grey has-border p-25 hover-up-2 transition-normal border-radius-5">
            <div class="post-thumb post-thumb-64 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">
                <a class="color-white" href="{{ sponsor.url }}">
                    <img src="{{ site.s3_public }}{{ sponsor.img }}" alt="{{ sponsor.alt }}">
                </a>
            </div>
            <div class="post-content media-body">
                <h6> <a href="{{ sponsor.url }}">{{ sponsor.title }}</a> </h6>
                <p class="text-muted font-small">{{ sponsor.desc }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
