<div class="carausel-post-1 hover-up border-radius-10 overflow-hidden transition-normal position-relative wow fadeInUp animated">
    <div class="arrow-cover"></div>
    <div class="slide-fade">
        {% for post in include.posts %}
        <div class="position-relative post-thumb">
            <div class="thumb-overlay img-hover-slide position-relative" style="background-image: url({{ post.img_big_1000x600 }})">
                <a class="img-link" href="{{ post.url }}"></a>
                <span class="top-left-icon bg-warning"><i class="elegant-icon icon_star_alt"></i></span>
                <div class="post-content-overlay text-white ml-30 mr-30 pb-30">
                    <div class="entry-meta meta-0 font-small mb-20">
                        {% for category in post.categories %}
                        {% capture category_name %}{{ category | first }}{% endcapture %}
                        <a href="{{site.baseurl}}/categories/#{{category|slugize}}" tabindex="0"><span class="post-cat text-info text-uppercase">{{category}}</span></a>
                        {% endfor %}
                    </div>
                    <h3 class="post-title font-weight-900 mb-20">
                        <a class="text-white" href="{{ post.url }}">{{ post.title }}</a>
                    </h3>
                    <div class="entry-meta meta-1 font-small text-white mt-10 pr-5 pl-5">
                        <span class="post-on">{{ post.date | date_to_string }}</span>
                        <span class="hit-count has-dot">{{ post.views }} views</span>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>