<figure class="wp-block-gallery columns-3 wp-block-image">
    <ul class="blocks-gallery-grid">
        <li class="blocks-gallery-item"><a href="#"><img class="border-radius-5" src="{{ include.img_500_1 }}" alt=""></a></li>
        <li class="blocks-gallery-item"><a href="#"><img class="border-radius-5" src="{{ include.img_500_2 }}" alt=""></a></li>
        <li class="blocks-gallery-item"><a href="#"><img class="border-radius-5" src="{{ include.img_500_3 }}" alt=""></a></li>
    </ul>
    <figcaption> <i class="ti-credit-card mr-5"></i></figcaption>
</figure>
<hr class="section-divider">