<div class="container">
  <div class="loop-grid mb-30">
      <div class="row">
          <div class="col-lg-8 mb-30">
              {% include carousel.html posts=site.data.defaults.posts %}

              {% include ads.article.html ad=site.data.ads.article %}
              {% for post in site.posts limit: 2 %}

              {% assign image_big = post.img_big_3000x1144 %}
              {% unless image_big %}
              {% assign image_big = site.data.defaults.pageholder.img_big_3000x1144 %}
              {% endunless %}

              <article class="col-lg-4 col-md-6 mb-30 wow fadeInUp animated" data-wow-delay="0.2s">
                  <div class="post-card-1 border-radius-10 hover-up">
                      <div class="post-thumb thumb-overlay img-hover-slide position-relative"
                          style="background-image: url({{ image_big }})">
                          <a class="img-link" href="{{ post.url }}"></a>
                          <span class="top-right-icon bg-success">
                              <i class="elegant-icon icon_camera_alt"></i></span>
                          <ul class="social-share">
                              <li><a href="#"><i class="elegant-icon social_share"></i></a></li>
                              <li>
                                  <div class="sharethis-inline-share-buttons"></div>
                                  <!-- <li><a class="fb" href="{{ site.facebook }}" title="Share on Facebook" target="_blank"><i class="elegant-icon social_facebook"></i></a></li>
                              <li><a class="tw" href="{{ site.twitter }}" target="_blank" title="Tweet now"><i class="elegant-icon social_twitter"></i></a></li>
                              <li><a class="pt" href="{{ site.youtube }}" target="_blank" title="Pin it"><i class="elegant-icon social_pinterest"></i></a></li> -->
                          </ul>
                      </div>
                      <div class="post-content p-30">
                          <div class="entry-meta meta-0 font-small mb-10">
                              {% for category in post.categories %}
                              {% capture category_name %}{{ category | first }}{% endcapture %}
                              <a href="{{site.baseurl}}/categories/#{{category|slugize}}" tabindex="0"><span
                                      class="post-cat text-info text-uppercase">{{category}}</span></a>
                              {% endfor %}
                          </div>
                          <div class="d-flex post-card-content">
                              <h5 class="post-title mb-20 font-weight-900">
                                  <a href="{{ post.url }}">{{ post.title }}</a>
                              </h5>
                              <p >{{ post.description | truncatewords : 30}}</p>
                              <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                  <span class="post-on">{{ post.date | date_to_string }}</span>
                                  <span class="time-reading has-dot">{{ post.read_time }} read</span>
                                  <!-- <span class="post-by has-dot">{{ post.views }} views</span> -->
                              </div>
                          </div>
                      </div>
                  </div>
              </article>

              {% endfor %}

              <article class="col-lg-4 col-md-6 mb-30 wow fadeInUp animated" data-wow-delay="0.2s">
                <div class="post-card-1 border-radius-10 hover-up">
                    <div class="post-thumb thumb-overlay img-hover-slide position-relative"
                        style="background-image: url(https://d3hukd8e3cn3kb.cloudfront.net/images/posts/best_cebu_blog_awards_2023/1.jpg)">
                        <a class="img-link" href="https://docs.google.com/forms/d/e/1FAIpQLSf2_KkaPUT9D8NBz5rLLObYHPiEpv7N2EXFE-rG9ou7sfmBxw/viewform"></a>
                    </div>
                    <div class="post-content p-30">
                        <div class="entry-meta meta-0 font-small mb-10">
                            
                        </div>
                        <div class="d-flex post-card-content">
                            <h5 class="post-title mb-20 font-weight-900">
                                <a href="https://docs.google.com/forms/d/e/1FAIpQLSf2_KkaPUT9D8NBz5rLLObYHPiEpv7N2EXFE-rG9ou7sfmBxw/viewform">FINALIST Best Cebu Travel Blog 2023</a>
                            </h5>
                            <p>We're one of the three finalist under the travel blog category for this year's Best Cebu Blogs Awards.</p>
                            <strong>Vote for proudbisayabai.ph</strong>
                            <div class="mt-4">
                                <a class="btn btn-primary btn-sm" href="https://docs.google.com/forms/d/e/1FAIpQLSf2_KkaPUT9D8NBz5rLLObYHPiEpv7N2EXFE-rG9ou7sfmBxw/viewform">
                                    Vote here
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
          </div>
      </div>
  </div>
</div>