{% for post in site.posts %}

    

    {% for tag in post.tags | sort %}
        {% if post.url != page.url %}
            {% if page.tags contains tag %}
                {% unless post.img_500x500 contains 'proudbisayabaii' %}
                {% assign nextArticleIMG = post.img_500x500 %}
                {% assign nextArticleURL = post.url %}
                {% break %}
                {% endunless %}
            {% endif %}
        {% endif %}
    {% endfor %}

{% endfor %}

<script type="application/json" id="post_data">
    {
        "views": "{{ page.views }}",
        "author": "{{ page.author }}",
        "photo_credit": "{{ page.photo_credit }}",
        "social_reach": "{{ page.social_reach }}",
        "location": "{{ page.location }}",
        "nextArticle": {
            "img": "{{ nextArticleIMG }}",
            "url": "{{ nextArticleURL }}"
        }
    }
</script>
<!-- 
<script type="application/json" id="post_data">
    {
        "views": "34,123",
        "author": "Proud Bisaya Bai Admin",
        "photo_credit": "Proud Bisaya Bai Admin",
        "social_reach": "102,00",
        "location": "Moalboal, Cebu"
    }
</script> -->