<script type="application/json" id="post_data">
    {
        "views": "{{ page.views }}",
        "author": "{{ page.author }}",
        "photo_credit": "{{ page.photo_credit }}",
        "social_reach": "{{ page.social_reach }}",
        "location": "{{ page.location }}"
    }
</script>
<!-- 
<script type="application/json" id="post_data">
    {
        "views": "34,123",
        "author": "Proud Bisaya Bai Admin",
        "photo_credit": "Proud Bisaya Bai Admin",
        "social_reach": "102,00",
        "location": "Moalboal, Cebu"
    }
</script> -->