<style>
    .pricing-header {
    max-width: 700px;
    }

    .card-deck .card {
    min-width: 220px;
    }

    .border-top { border-top: 1px solid #e5e5e5; }
    .border-bottom { border-bottom: 1px solid #e5e5e5; }

    .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
</style>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">MAAYONG ADLAW!</h1>
  <p class="lead">We can feature you in our facebook page with over <span class="follower-count">{{ site.data.ads.followers.facebook }}</span> followers.</p>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Package A</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">₱<span class="price">3,000</span></h1>
        <div class="text-center mb-4 mt-4">A total of 2 featured posts on Facebook. Photos are all grabbed and sent by your end and content will be written by our team.</div>
        <div class="mb-4">Additional 3K for drone shots</div>
        <a href="https://m.me/proudbisayabai" target="_blank" class="btn btn-lg btn-block btn-outline-primary">Contact Us</a>
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Package B</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">₱<span class="price">6,000</span></h1>
        <div class="text-center mb-4 mt-4">A total of 3 featured posts on Facebook. Plus you will be visited by our team for a photoshoot and modelling of your product or your place.</div>
        <div class="mb-4">Additional 3K for drone shots</div>
        <a href="https://m.me/proudbisayabai" target="_blank" class="btn btn-lg btn-block btn-primary">Get started</a>
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Package C</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">₱<span class="price">8,000</span></h1>
        <div class="text-center mb-4 mt-4">A total of 4 featured posts on Facebook. Your area will be visited by our team for a photoshoot and modelling plus a videoshoot for a vlog to be posted on Facebook, Instagram and Youtube. And also to be published in Proudbisayabai.ph website.</div>
        <div class="mb-4">Additional 3K for drone shots</div>
        <a href="https://m.me/proudbisayabai" target="_blank" class="btn btn-lg btn-block btn-primary">Contact us</a>
      </div>
    </div>
  </div>

<div class="mb-50 text-center text-muted">
  <div>Should you wish to avail and proceed, we require 100% payment upon confirmation prior to publishing/place visit.</div>
  <div>Note: Foods/Services/Accommodations you want us to feature will be automatically shouldered by the client.</div>
  <div>Rates are still subject to changes without prior notice.</div>
</div>