<div
    class="sidebar-widget widget-about mb-50 pt-30 pr-30 pb-30 pl-30 bg-white border-radius-5 has-border  wow fadeInUp animated">
    <img class="about-author-img mb-25" src="https://d3hukd8e3cn3kb.cloudfront.net/images/logo/pbb-logo-202601.jpg" alt="">
    <h5 class="mb-20">Hello, {{ site.hi }}</h5>
    <p class="font-medium text-muted">Hi, {{ site.hi }}, {{ site.we_are }} </p>
    <strong>Follow us: </strong>
    <ul class="header-social-network d-inline-block list-inline color-white mb-20">
        <li class="list-inline-item"><a class="fb" href="{{ site.facebook }}" target="_blank" title="Facebook"><i
                    class="elegant-icon social_facebook"></i></a></li>
        <li class="list-inline-item"><a class="tw" href="{{ site.twitter }}" target="_blank" title="Tweet now"><i
                    class="elegant-icon social_twitter"></i></a></li>
        <li class="list-inline-item"><a class="pt" href="{{ site.instagram }}" target="_blank" title="Pin it"><i
                    class="elegant-icon social_instagram"></i></a></li>
    </ul>
</div>
<div class="sidebar-widget widget-about mb-50 pt-30 pr-30 pb-30 pl-30 bg-white border-radius-5 has-border  wow fadeInUp animated">
    <img class="" src="https://d3hukd8e3cn3kb.cloudfront.net/images/posts/best_cebu_blog_awards_2023/1.jpg" alt="">
    <h5 class="mb-10 mt-5">FINALIST Best Cebu Travel Blog 2023</h5>
    <p class="font-medium text-muted">We're one of the three finalist under the travel blog category for this year's Best Cebu Blogs Awards.</p>
    <!-- <strong>Vote for proudbisayabai.ph</strong>
    <div>
        <a class="btn btn-primary btn-sm" href="https://docs.google.com/forms/d/e/1FAIpQLSf2_KkaPUT9D8NBz5rLLObYHPiEpv7N2EXFE-rG9ou7sfmBxw/viewform">
            Vote now
        </a>
    </div> -->
</div>