---
layout: default
---
<main>
    <!--archive header-->
    <div class="archive-header pt-50 text-center">
        <div class="container">
            <h2 class="font-weight-900">Food</h2>
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Food
            </div>
            <div class="bt-1 border-color-1 mt-30 mb-50"></div>
        </div>
    </div>
    <div class="container">
        <div class="loop-list loop-list-style-1">
            <div class="row">

                {% for article in site.posts %}
                {% if article.categories contains "foods" %}
                <article class="col-md-6 mb-40 wow fadeInUp  animated">
                    <div class="post-card-1 border-radius-10 hover-up">
                        <div class="post-thumb thumb-overlay img-hover-slide position-relative" style="background-image: url(/images/3000x1144/pic.2.1.jpg)">
                            <a class="img-link" href="{{ article.url }}"></a>
                            <ul class="social-share">
                                <li><a href="#"><i class="elegant-icon social_share"></i></a></li>
                                <li><a class="fb" href="#" title="Share on Facebook" target="_blank"><i class="elegant-icon social_facebook"></i></a></li>
                                <li><a class="tw" href="#" target="_blank" title="Tweet now"><i class="elegant-icon social_twitter"></i></a></li>
                                <li><a class="pt" href="#" target="_blank" title="Pin it"><i class="elegant-icon social_pinterest"></i></a></li>
                            </ul>
                        </div>
                        <div class="post-content p-30">
                            <!-- <div class="entry-meta meta-0 font-small mb-10">
                                <a href="category.html"><span class="post-cat text-info">Artists</span></a>
                                <a href="category.html"><span class="post-cat text-success">Film</span></a>
                            </div> -->
                            <div class="d-flex post-card-content">
                                <h5 class="post-title mb-20 font-weight-900">
                                    <a href="{{ article.url }}">{{ article.title }}</a>
                                </h5>
                                <!-- <div class="post-excerpt mb-25 font-small text-muted">
                                    <p>Graduating from a top accelerator or incubator can be as career-defining for a&nbsp;startup founder&nbsp;as an elite university diploma. The intensive programmes, which…</p>
                                </div> -->
                                <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                    <span class="post-on">{{ article.date }}</span>
                                    <span class="time-reading has-dot">{{ article.time_read }}</span>
                                    <span class="post-by has-dot">{{ article.views }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                {% endif %}
                {% endfor %}
               
               
               
               
               
                <article class="col-md-6 mb-40 wow fadeInUp  animated">
                    <div class="post-card-1 border-radius-10 hover-up">
                        <div class="post-thumb thumb-overlay img-hover-slide position-relative" style="background-image: url(/images/3000x1144/pic.2.2.jpg)">
                            <a class="img-link" href="single.html"></a>
                            <ul class="social-share">
                                <li><a href="#"><i class="elegant-icon social_share"></i></a></li>
                                <li><a class="fb" href="#" title="Share on Facebook" target="_blank"><i class="elegant-icon social_facebook"></i></a></li>
                                <li><a class="tw" href="#" target="_blank" title="Tweet now"><i class="elegant-icon social_twitter"></i></a></li>
                                <li><a class="pt" href="#" target="_blank" title="Pin it"><i class="elegant-icon social_pinterest"></i></a></li>
                            </ul>
                        </div>
                        <div class="post-content p-30">
                            <!-- <div class="entry-meta meta-0 font-small mb-10">
                                <a href="category.html"><span class="post-cat">Fashion</span></a>
                            </div> -->
                            <div class="d-flex post-card-content">
                                <h5 class="post-title mb-20 font-weight-900">
                                    <a href="single.html">Operating Hours:11AM to 3PM(Lunch time)3PM to 4PM(break time)4PM to 8PM(dinner time)</a>
                                </h5>
                                <!-- <div class="post-excerpt mb-25 font-small text-muted">
                                    <p>Proin vitae placerat quam. Ut sodales eleifend urna, in condimentum tortor ultricies eu. Nunc auctor iaculis dolorProin vitae placerat quam. Proin vitae placerat quam.</p>
                                </div> -->
                                <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                    <span class="post-on">12 August</span>
                                    <span class="time-reading has-dot">6 mins read</span>
                                    <span class="post-by has-dot">3k views</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-md-6 mb-40 wow fadeInUp  animated">
                    <div class="post-card-1 border-radius-10 hover-up">
                        <div class="post-thumb thumb-overlay img-hover-slide position-relative" style="background-image: url(/images/3000x1144/pic.2.3.jpg)">
                            <a class="img-link" href="single.html"></a>
                            <span class="top-right-icon bg-secondary"><i class="elegant-icon icon_heart_alt"></i></span>
                            <ul class="social-share">
                                <li><a href="#"><i class="elegant-icon social_share"></i></a></li>
                                <li><a class="fb" href="#" title="Share on Facebook" target="_blank"><i class="elegant-icon social_facebook"></i></a></li>
                                <li><a class="tw" href="#" target="_blank" title="Tweet now"><i class="elegant-icon social_twitter"></i></a></li>
                                <li><a class="pt" href="#" target="_blank" title="Pin it"><i class="elegant-icon social_pinterest"></i></a></li>
                            </ul>
                        </div>
                        <div class="post-content p-30">
                            <!-- <div class="entry-meta meta-0 font-small mb-10">
                                <a href="category.html"><span class="post-cat text-success">Lifestyle</span></a>
                            </div> -->
                            <div class="d-flex post-card-content">
                                <h5 class="post-title mb-20 font-weight-900">
                                    <a href="single.html"> Rates:- Lunch promo: P299 per head- Dinner: P349 per headFirst come First served only</a>
                                </h5>
                                <!-- <div class="post-excerpt mb-25 font-small text-muted">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor condimentum metus non tempor. Maecenas non augue aliquam, facilisis lectus quis, lacinia risus.</p>
                                </div> -->
                                <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                    <span class="post-on">27 August</span>
                                    <span class="time-reading has-dot">12 mins read</span>
                                    <span class="post-by has-dot">23k views</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-md-6 mb-40 wow fadeInUp  animated">
                    <div class="post-card-1 border-radius-10 hover-up">
                        <div class="post-thumb thumb-overlay img-hover-slide position-relative" style="background-image: url(/images/3000x1144/pic.2.4.jpg)">
                            <a class="img-link" href="single.html"></a>
                            <ul class="social-share">
                                <li><a href="#"><i class="elegant-icon social_share"></i></a></li>
                                <li><a class="fb" href="#" title="Share on Facebook" target="_blank"><i class="elegant-icon social_facebook"></i></a></li>
                                <li><a class="tw" href="#" target="_blank" title="Tweet now"><i class="elegant-icon social_twitter"></i></a></li>
                                <li><a class="pt" href="#" target="_blank" title="Pin it"><i class="elegant-icon social_pinterest"></i></a></li>
                            </ul>
                        </div>
                        <div class="post-content p-30">
                            <!-- <div class="entry-meta meta-0 font-small mb-10">
                                <a href="category.html"><span class="post-cat text-danger">Hotels</span></a>
                            </div> -->
                            <div class="d-flex post-card-content">
                                <h5 class="post-title mb-20 font-weight-900">
                                    <a href="single.html">Exact Location: Juana Osmena St. Corner Ma. Cristina St, Cebu City.</a>
                                </h5>
                                <!-- <div class="post-excerpt mb-25 font-small text-muted">
                                    <p>Graduating from a top accelerator or incubator can be as career-defining for a&nbsp;startup founder&nbsp;as an elite university diploma. The intensive programmes, which…</p>
                                </div> -->
                                <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                    <span class="post-on">18 August</span>
                                    <span class="time-reading has-dot">14 mins read</span>
                                    <span class="post-by has-dot">25k views</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-md-6 mb-40 wow fadeInUp  animated">
                    <div class="post-card-1 border-radius-10 hover-up">
                        <div class="post-thumb thumb-overlay img-hover-slide position-relative" style="background-image: url(/images/3000x1144/pic.2.5.jpg)">
                            <a class="img-link" href="single.html"></a>
                            <span class="top-right-icon bg-secondary"><i class="elegant-icon icon_heart_alt"></i></span>
                            <ul class="social-share">
                                <li><a href="#"><i class="elegant-icon social_share"></i></a></li>
                                <li><a class="fb" href="#" title="Share on Facebook" target="_blank"><i class="elegant-icon social_facebook"></i></a></li>
                                <li><a class="tw" href="#" target="_blank" title="Tweet now"><i class="elegant-icon social_twitter"></i></a></li>
                                <li><a class="pt" href="#" target="_blank" title="Pin it"><i class="elegant-icon social_pinterest"></i></a></li>
                            </ul>
                        </div>
                        <div class="post-content p-30">
                            <!-- <div class="entry-meta meta-0 font-small mb-10">
                                <a href="category.html"><span class="post-cat text-success">Lifestyle</span></a>
                            </div> -->
                            <div class="d-flex post-card-content">
                                <h5 class="post-title mb-20 font-weight-900">
                                    <a href="single.html">How to get there?<br>Via Commute: From Colon Street, ride a bus or beep bus bound to Mango Avenue and tell the driver to drop-off at National book store, estimated fare is P25.</a>
                                </h5>
                                <!-- <div class="post-excerpt mb-25 font-small text-muted">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor condimentum metus non tempor. Maecenas non augue aliquam, facilisis lectus quis, lacinia risus.</p>
                                </div> -->
                                <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                    <span class="post-on">27 August</span>
                                    <span class="time-reading has-dot">12 mins read</span>
                                    <span class="post-by has-dot">23k views</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-md-6 mb-40 wow fadeInUp  animated">
                    <div class="post-card-1 border-radius-10 hover-up">
                        <div class="post-thumb thumb-overlay img-hover-slide position-relative" style="background-image: url(/images/3000x1144/pic.2.6.jpg)">
                            <a class="img-link" href="single.html"></a>
                            <ul class="social-share">
                                <li><a href="#"><i class="elegant-icon social_share"></i></a></li>
                                <li><a class="fb" href="#" title="Share on Facebook" target="_blank"><i class="elegant-icon social_facebook"></i></a></li>
                                <li><a class="tw" href="#" target="_blank" title="Tweet now"><i class="elegant-icon social_twitter"></i></a></li>
                                <li><a class="pt" href="#" target="_blank" title="Pin it"><i class="elegant-icon social_pinterest"></i></a></li>
                            </ul>
                        </div>
                        <div class="post-content p-30">
                            <!-- <div class="entry-meta meta-0 font-small mb-10">
                                <a href="category.html"><span class="post-cat text-danger">Hotels</span></a>
                            </div> -->
                            <div class="d-flex post-card-content">
                                <h5 class="post-title mb-20 font-weight-900">
                                    <a href="single.html">Via Taxi: Ride a taxi and tell the driver to drop-off at baseline. Beside baseline in mango avenue was the exact location. The place can be navigated on Waze. Whether you are riding a bus or your own vehicle, it’sbest to navigate via Waze</a>
                                </h5>
                                <!-- <div class="post-excerpt mb-25 font-small text-muted">
                                    <p>Graduating from a top accelerator or incubator can be as career-defining for a&nbsp;startup founder&nbsp;as an elite university diploma. The intensive programmes, which…</p>
                                </div> -->
                                <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                    <span class="post-on">18 August</span>
                                    <span class="time-reading has-dot">14 mins read</span>
                                    <span class="post-by has-dot">25k views</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <div class="row mt-50">
            <div class="col-12">
                <!-- <div class="pagination-area mb-30 wow fadeInUp animated">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <li class="page-item"><a class="page-link" href="#"><i class="elegant-icon arrow_left"></i></a></li>
                            <li class="page-item active"><a class="page-link" href="#">01</a></li>
                            <li class="page-item"><a class="page-link" href="#">02</a></li>
                            <li class="page-item"><a class="page-link" href="#">03</a></li>
                            <li class="page-item"><a class="page-link" href="#">04</a></li>
                            <li class="page-item"><a class="page-link" href="#"><i class="elegant-icon arrow_right"></i></a></li>
                        </ul>
                    </nav>
                </div> -->
            </div>
        </div>
    </div>
</main>