<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{{ title }} </title>
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="https://res.cloudinary.com/proudbisayabai/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1610956956/logo/transparentbackgroundpbb_unybsh.png">
    
    <meta property="og:url"                content="{{ page.url }}" />
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="{{ page.title }}" />
    <meta property="og:description"        content="{{ og_desc | truncatewords: 50 }}" />
    <meta property="og:image"              content="{{ image_big }}" />
    <meta property="og:updated_time"              content="{{ page.date | date: '%s' }}" />
    <meta property="article:published_time"              content="{{ page.date | date: '%s'}}" />
    <meta property="article:modified_time"              content="{{ page.date | date: '%s'}}" />
    <!-- NewsBoard CSS  -->

    <link rel="stylesheet" href="/assets/css/vendor/toastr.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/widgets.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <link rel="stylesheet" href="/assets/css/vendor/viewer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-storage.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <div class="body-wrapper" id="body-wrapper">
        <div class="loader-wrapper">
            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
        </div>
    <div class="body-form" style="display: none;">
    <div class="header-top" style="background-color: white;">
        <div class="container-fluid">
            <div class="row pt-20 pb-20">
                <div class="col-md-3 col-xs-6">
                    <a href="/admin/dashboard.html"><img class="logo" src="/assets/imgs/theme/logo.png" alt=""></a>
                    BLOG TOOL
                </div>
                <div class="col-md-9 col-xs-6 text-right header-top-right ">
                    <button class="btn btn-radius bg-danger text-white ml-15 font-small box-shadow be-featured-btn" id="logout">Logout</button>
                </div>
            </div>
        </div>
        </div>
        <div class="row p-10">
            <div class="col-md-12 p-10">
                <a href="/admin/dashboard.html" class="pull-left btn btn-danger ml-10">Cancel</a>
                <button class="pull-right btn btn-primary mr-10" id="savePost">Save</button>
                <button class="pull-right btn btn-primary mr-10" id="previewPost">Preview</button>
            </div>
        </div>
        <div class="row p-10">
            <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <strong>Edit Post</strong>
                </div>
                <div class="card-body card-block" style="zoom: 90%">
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="recipient-name" class="col-form-label">Author:</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" class="form-control author">
                        </div>
                    </div>
                    
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="recipient-name" class="col-form-label">Editor:</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" class="form-control editor">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="recipient-name" class="col-form-label">Place Name:</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" class="form-control place_name">
                        </div>
                    </div>
    
                    <!-- <div class="row form-group">
                        <div class="col col-md-3">
                        <label for="recipient-name" class="col-form-label">File Name:</label>
                        </div>
                        <div class="col-12 col-md-9">
                        <input type="text" class="form-control" v-model="markdown.file_name">
                        </div>
                    </div> -->
    
                    <div class="row form-group">
                        <div class="col col-md-3">
                        <label for="recipient-name" class="col-form-label">Title:</label>
                        </div>
                        <div class="col-12 col-md-9">
                        <input type="text" class="form-control title">
                        </div>
                    </div>
    
                    <div class="row form-group">
                        <div class="col col-md-3">
                        <label for="recipient-name" class="col-form-label">Description:</label>
                        </div>
                        <div class="col-12 col-md-9">
                        <textarea class="form-control description" style="height: 120px"></textarea>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-3">
                            <label for="recipient-name" class="col-form-label">Categories:</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" class="form-control category">
                            <small class="form-text text-muted">(options: destination,food,product,brand</small>
                        </div>
                    </div>
    
                    <div class="row form-group">
                        <div class="col col-md-3">
                        <label for="recipient-name" class="col-form-label">Tags:</label>
                        </div>
                        <div class="col-12 col-md-9">
                        <input type="text" class="form-control tags">
                        <small class="form-text text-muted">A List Separated by comma.</small>
                        </div>
                    </div>
    
                    <div class="row form-group">
                        <div class="col col-md-3">
                        <label for="recipient-name" class="col-form-label">Credit:</label>
                        </div>
                        <div class="col-12 col-md-9">
                        <input type="text" class="form-control photo_credit" >
                        </div>
                    </div>
    
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="recipient-name" class="col-form-label">Credit Url:</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" class="form-control photo_credit_link">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="recipient-name" class="col-form-label">Read Time:</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" class="form-control read_time">
                        </div>
                    </div>
                    <hr>
                    <div class="row form-group">
                        <div class="col col-md-3">
                        <label for="recipient-name" class="col-form-label">Seo Image:</label>
                        </div>
                        <div class="col-12 col-md-9">
                        <input type="text" class="form-control seo_image_url">
                        </div>
                    </div>
    
                    <div class="row form-group">
                        <div class="col col-md-3">
                        <label for="recipient-name" class="col-form-label">Banner Image:</label>
                        </div>
                        <div class="col-12 col-md-9">
                        <input type="text" class="form-control banner_image_url">
                        </div>
                    </div>
    
                    <div class="row form-group">
                        <div class="col col-md-3">
                        <label for="recipient-name" class="col-form-label">Small Banner Image:</label>
                        </div>
                        <div class="col-12 col-md-9">
                        <input type="text" class="form-control small_banner_image_url">
                        </div>
                    </div>
    
                    <div class="row form-group">
                        <div class="col col-md-3">
                        <label for="recipient-name" class="col-form-label">Image 1:</label>
                        </div>
                        <div class="col-12 col-md-9">
                        <input type="text" class="form-control collage_image1_url">
                        </div>
                    </div>
    
                    <div class="row form-group">
                        <div class="col col-md-3">
                        <label for="recipient-name" class="col-form-label">Image 2:</label>
                        </div>
                        <div class="col-12 col-md-9">
                        <input type="text" class="form-control collage_image2_url">
                        </div>
                    </div>
    
                    <div class="row form-group">
                        <div class="col col-md-3">
                        <label for="recipient-name" class="col-form-label">Image 3:</label>
                        </div>
                        <div class="col-12 col-md-9">
                        <input type="text" class="form-control collage_image3_url">
                        </div>
                    </div>
    
                    <div class="row form-group">
                        <div class="col col-md-3">
                        <label for="recipient-name" class="col-form-label">Image 4:</label>
                        </div>
                        <div class="col-12 col-md-9">
                        <input type="text" class="form-control collage_image4_url">
                        </div>
                    </div>
    
                    <div class="row form-group">
                        <div class="col col-md-3">
                        <label for="recipient-name" class="col-form-label">Image 5:</label>
                        </div>
                        <div class="col-12 col-md-9">
                        <input type="text" class="form-control collage_image5_url">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="row form-group">
                <div class="col col-md-12">
                    <div class="card p-20">
                        <label for="recipient-name" class="col-form-label font-weight-bold">Post Body:</label>
                        <textarea class="form-control" id="markdown_body"></textarea>
                    </div>
                </div>
                <div class="col-md-12 p-10">
                    <button class="pull-right btn btn-primary mr-10" id="savePost">Save</button>
                    <button class="pull-right btn btn-primary mr-10" id="previewPost">Preview</button>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- #################################################################### -->

    <div class="body-preview" style="display: none;">
        <div class="scroll-progress primary-bg"></div>
        <!-- Start Preloader -->
        <!--     <div class="preloader text-center">
            <div class="circle"></div>
        </div> -->
        <!--Offcanvas sidebar-->
        <aside id="sidebar-wrapper" class="custom-scrollbar offcanvas-sidebar">
            <button class="off-canvas-close"><i class="elegant-icon icon_close"></i></button>
            <div class="sidebar-inner">
                <!--Categories-->
                <div class="sidebar-widget widget_categories mb-50 mt-30">
                    <div class="widget-header-2 position-relative">
                        <h5 class="mt-5 mb-15">Hot topics</h5>
                    </div>
                    <div class="widget_nav_menu">
                        <ul>
                            <li class="cat-item cat-item-2"><a href="/guides">Travel tips</a> <span class="post-count">30</span></li>
                            <li class="cat-item cat-item-3"><a href="/destinations">Book review</a> <span class="post-count">25</span></li>
                            <li class="cat-item cat-item-4"><a href="/destinations">Hotel review</a> <span class="post-count">16</span></li>
                            <li class="cat-item cat-item-5"><a href="/destinations">Destinations </a> <span class="post-count">22</span></li>
                            <li class="cat-item cat-item-6"><a href="index.html">Lifestyle</a> <span class="post-count">25</span></li>
                        </ul>
                    </div>
                </div>
                <!--Latest-->

                <div class="sidebar-widget widget-latest-posts mb-50">
                    <div class="widget-header-2 position-relative mb-30">
                        <h5 class="mt-5 mb-30">Don't miss</h5>
                    </div>
                    <div class="post-block-list post-module-1 post-module-5">
                        <ul class="list-post">
                            <li class="mb-30">
                                <div class="d-flex hover-up-2 transition-normal">
                                    <div class="post-thumb post-thumb-80 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">
                                        <a class="color-white" href="single.html">
                                            <img src="https://via.placeholder.com/500x500" alt="">
                                        </a>
                                    </div>
                                    <div class="post-content media-body">
                                        <h6 class="post-title mb-15 text-limit-2-row font-medium"><a href="single.html">The Life of a Travel Writer with David Farley</a></h6>
                                        <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                            <span class="post-on">05 August</span>
                                            <!-- <span class="post-by has-dot">300 views</span> -->
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="mb-30">
                                <div class="d-flex hover-up-2 transition-normal">
                                    <div class="post-thumb post-thumb-80 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">
                                        <a class="color-white" href="single.html">
                                            <img src="https://via.placeholder.com/500x500" alt="">
                                        </a>
                                    </div>
                                    <div class="post-content media-body">
                                        <h6 class="post-title mb-15 text-limit-2-row font-medium"><a href="single.html">Why Don’t More Black American Women Travel Solo?</a></h6>
                                        <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                            <span class="post-on">12 August</span>
                                            <!-- <span class="post-by has-dot">23k views</span> -->
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="mb-30">
                                <div class="d-flex hover-up-2 transition-normal">
                                    <div class="post-thumb post-thumb-80 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">
                                        <a class="color-white" href="single.html">
                                            <img src="https://via.placeholder.com/500x500" alt="">
                                        </a>
                                    </div>
                                    <div class="post-content media-body">
                                        <h6 class="post-title mb-15 text-limit-2-row font-medium"><a href="single.html">The 22 Best Things to See and Do in Bangkok</a></h6>
                                        <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                            <span class="post-on">27 August</span>
                                            <!-- <span class="post-by has-dot">23k views</span> -->
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
        
                {% endcomment %}
                <!--Ads-->
                <div class="sidebar-widget widget-ads">
                    <div class="widget-header-2 position-relative mb-30">
                        <h5 class="mt-5 mb-30"></h5>
                    </div>
                    <a href="/services" target="_blank">
                        <img class="advertise-img border-radius-5" src="/images/logo/transparentbackgroundpbb.png" alt="">
                    </a>
                </div>
            </div>
        </aside>
        <!-- Start Header -->
        <header class="main-header header-style-1 font-heading">
        <div class="header-top">
            <div class="container">
                <div class="row pt-20 pb-20">
                    <div class="col-md-3 col-xs-6">
                        <a href="/"><img class="logo" src="/assets/imgs/theme/logo.png" alt=""></a>
                    </div>
                    <div class="col-md-9 col-xs-6 text-right header-top-right ">

                        <button class="search-icon">
                                    <span class="font-large">
                                        <i class="elegant-icon icon_search mr-5"></i>
                                    </span>
                                    <span class="mr-15 text-muted font-small">Search</span>
                        </button>
                        <button class="btn btn-radius bg-primary text-white ml-15 font-small box-shadow be-featured-btn">View Markdown</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-sticky">
            <div class="container align-self-center">
                <div class="mobile_menu d-lg-none d-block"></div>
                <div class="main-nav d-none d-lg-block float-left">
                    <nav>
                        <!--Desktop menu-->
                        <ul class="main-menu d-none d-lg-inline font-small">
                            <li class="{% if page.url == '/' %}current-item{% endif %}">
                                <a href="/"> <i class="elegant-icon icon_house_alt mr-5"></i> Home</a>
                            </li>
                            <li class="{% if page.url == '/about/' %}current-item{% endif %}"> <a href="/about">About Us</a> </li>
                            <li class="{% if page.url == '/destinations/' %}current-item{% endif %}"> <a href="/destinations">Destinations</a> </li>
                            <li class="{% if page.url == '/guides/' %}current-item{% endif %}"> <a href="/guides">Guides</a> </li>
                            <li class="{% if page.url == '/food/' %}current-item{% endif %}"> <a href="/food">Foods</a> </li>
                            <li class="{% if page.url == '/product/' %}current-item{% endif %}"> <a href="/product">Products</a> </li>
                            <li class="d-none {% if page.url == '/services/' %}current-item{% endif %}"> <a href="/services">Services</a> </li>
                            <li class="{% if page.url == '/contact/' %}current-item{% endif %}"> <a href="/contact">Contact</a> </li>
                            <li class="{% if page.url == '/news/sinulog-updates-2026' %}current-item{% endif %}"> <a href="/news/sinulog-updates-2026">Sinulog 2026</a> </li>
                        </ul>
                        <!--Mobile menu-->
                        <ul id="mobile-menu" class="d-block d-lg-none text-muted">
                            <li class="menu-item-has-children">
                                <a href="/">Home</a>
                            </li>
                            <li class="menu-item-has-children"><a href="#">Links</a>
                                <ul class="sub-menu font-small">
                                    <li><a href="/about">About</a></li>
                                    <li class="current-item"> <a href="/destinations">Destinations</a> </li>
                                    <li> <a href="/guides">Guides</a> </li>
                                    <li> <a href="/food">Foods</a> </li>
                                    <li class="d-none"> <a href="/services/">Services</a> </li>
                                    <li><a href="/contact">Contact</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="float-right header-tools text-muted font-small">
                    <ul class="header-social-network d-inline-block list-inline mr-15">
                        <li class="list-inline-item"><a class="social-icon fb text-xs-center" target="_blank"
                                href="{{ site.facebook }}"><i class="elegant-icon social_facebook"></i></a></li>
                        <li class="list-inline-item"><a class="social-icon tw text-xs-center" target="_blank"
                                href="{{ site.instagram }}"><i class="elegant-icon social_instagram"></i></a></li>
                        <li class="list-inline-item"><a class="social-icon pt text-xs-center" target="_blank"
                                href="{{ site.youtube }}"><i class="elegant-icon social_youtube "></i></a></li>
                    </ul>
                    <div class="off-canvas-toggle-cover d-inline-block">
                        <div class="off-canvas-toggle hidden d-inline-block" id="off-canvas-toggle">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        </header>

        <!--Start search form-->
        <div class="main-search-form">
        <div class="container">
            <div class=" pt-50 pb-50 ">
                <div class="row mb-20">
                    <div class="col-12 align-self-center main-search-form-cover m-auto">
                        <p class="text-center"><span class="search-text-bg">Search</span></p>
                        {% comment %}
                        <form action="#" class="search-header">
                            <div class="input-group w-100">
                                
                                <input type="text" class="form-control" placeholder="Search stories, places and people">
                                <div class="input-group-append">
                                    <button class="btn btn-search bg-white" type="submit">
                                        <i class="elegant-icon icon_search"></i>
                                    </button>
                                </div>
                                
                                
                            </div>
                        </form>
                        {% endcomment %}
                        {% include google-search.html %}
                    </div>
                </div>
                <div class="row mt-80 text-center">
                    <div class="col-12 font-small suggested-area">
                        <h5 class="suggested font-heading mb-20 text-muted"> <strong>Suggested keywords:</strong></h5>
                        <ul class="list-inline d-inline-block">
                            <li class="list-inline-item"><a class="category-search" href="#">Cebu</a></li>
                            <li class="list-inline-item"><a class="category-search" href="#">Mandaue City</a></li>
                            <li class="list-inline-item"><a class="category-search" href="#">Lapu Lapu City</a></li>
                            <li class="list-inline-item"><a class="category-search" href="#">Liloan</a></li>
                            <li class="list-inline-item"><a class="category-search" href="#">Bantayan</a></li>
                            <li class="list-inline-item"><a class="category-search" href="#">Oslob</a></li>
                            <li class="list-inline-item"><a class="category-search" href="#">Moalboal</a></li>
                            <li class="list-inline-item"><a class="category-search" href="#">Mountains</a></li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="row mt-80">
                    <div class="col-lg-4">
                        <div class="d-flex bg-grey has-border p-25 hover-up-2 transition-normal border-radius-5 mb-30">
                            <div
                                class="post-thumb post-thumb-64 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">
                                <a class="color-white" href="/services">
                                    <img src="https://via.placeholder.com/500x500" alt="">
                                </a>
                            </div>
                            <div class="post-content media-body">
                                <h6> <a href="category.html">Travel Tips</a> </h6>
                                <p class="text-muted font-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="d-flex bg-grey has-border p-25 hover-up-2 transition-normal border-radius-5 mb-30">
                            <div
                                class="post-thumb post-thumb-64 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">
                                <a class="color-white" href="/services">
                                    <img src="https://via.placeholder.com/500x500" alt="">
                                </a>
                            </div>
                            <div class="post-content media-body">
                                <h6> <a href="category.html">Lifestyle</a> </h6>
                                <p class="text-muted font-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4  col-md-6">
                        <div class="d-flex bg-grey has-border p-25 hover-up-2 transition-normal border-radius-5 mb-30">
                            <div
                                class="post-thumb post-thumb-64 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">
                                <a class="color-white" href="/services">
                                    <img src="https://via.placeholder.com/500x500" alt="">
                                </a>
                            </div>
                            <div class="post-content media-body">
                                <h6> <a href="category.html">Hotel Review</a> </h6>
                                <p class="text-muted font-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </p>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        </div>

        <main class="bg-grey pt-50 pb-50">
            <div class="pb-50">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="single-content2">
                                <div class="entry-header entry-header-style-1 mb-50">
                                    <h1 class="entry-title mb-30 font-weight-900">
                                        {{ page.title }}
                                    </h1>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="entry-meta align-items-center meta-2 font-small color-muted">
                                                <p class="mb-5">
                                                    <a class="author-avatar" href="#">
                                                            <img class="img-circle" alt=""></a>
                                                    By <a href="author.html"><span class="author-name font-weight-bold">{{ page.author }}</span></a>
                                                </p>
                                                <span class="mr-10 date-published"> {{ page.date | date: '%B %d, %Y'}}</span>
                                                <span class="has-dot read-time"> {{ page.read_time }} read</span>
                                                <div class="mt-2">
                                                    <span class="text-muted font-small pageeditor">Edited by: {{ page.editor}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 text-right d-none d-md-inline">
                                            <ul class="header-social-network d-inline-block list-inline mr-15">
                                                <li class="list-inline-item text-muted">
                                                    Share this:
                                                </li>
                                                <li class="list-inline-item"><div class="sharethis-inline-share-buttons"></div></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!--end single header-->
                                <figure class="image mb-15 m-auto text-center border-radius-10">
                                        <img class="border-radius-10 img_post_header" alt="post-title" />
                                </figure>
                                <!--figure-->
                                <article class="entry-wraper mb-50" id="article-body">
                                    <div class="entry-main-content dropcap wow fadeIn animated">
                                        <div class="preview-content"></div>
                                        <figure class="wp-block-gallery columns-3 wp-block-image" id="image-gallery">
                                            <div class="collage-preview"></div>
                                            <figcaption><a href="{{ page.photo_credit_link }}"><i class="ti-credit-card mr-5">Media credit: {{ page.photo_credit }}</i></a></figcaption>
                                        </figure>
                                        <hr class="section-divider">
                                        <!--End Subcrible-->
                                        <!--<p></p>-->
                                    </div>
                                   
                                    <div class="single-social-share clearfix wow fadeIn animated">
                                        <div class="entry-meta meta-1 font-small color-grey float-left mt-10">
                                            <span class="hit-count mr-15"><i class="elegant-icon icon_comment_alt mr-5"></i>182 comments</span>
                                            <span class="hit-count mr-15"><i class="elegant-icon icon_like mr-5"></i>268 likes</span>
                                            <span class="hit-count"><i class="elegant-icon icon_star-half_alt mr-5"></i>Rate: 9/10</span>
                                        </div>
                                        <ul class="header-social-network d-inline-block list-inline float-md-right mt-md-0 mt-4">
                                            <li class="list-inline-item text-muted">
                                                Share this:
                                            </li>
                                            <li class="list-inline-item"><div class="sharethis-inline-share-buttons"></div></li>
                                        </ul>
                                    </div>
                                    
                                    <!--related posts-->
                                    
                                    <!--More posts-->
                                    
                                
                                </article>
                            </div>
                        </div>
                        <div class="col-lg-4 primary-sidebar sticky-sidebar">
                            <div class="widget-area">

                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer Start-->
        <footer class="pt-50 pb-20 bg-grey">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="sidebar-widget wow fadeInUp animated mb-30">
                        <div class="widget-header-2 position-relative mb-30">
                            <h5 class="mt-5 mb-30">About Us</h5>
                        </div>
                        <div class="textwidget" style="text-align: justify;">
                            <p>
                                Proud Bisaya Bai is your Bisaya Ultimate Travel Blog which was founded last July 22, 2020 to showcase bucket-list worthy places, not only limited to Cebu but to places who speak the Language
                            </p>
                            <p><strong class="color-black">Address</strong><br>
                                Englis Vrama Street Guadalupe<br>
                                Cebu City, Cebu 6000 <br>
                                Philippines
                            </p>
                            <p><strong class="color-black">Follow Us</strong><br>
                                <ul class="header-social-network d-inline-block list-inline color-white mb-20">
                                    <li class="list-inline-item"><a class="fb" href="{{ site.facebook }} " target="_blank" title="Facebook"><i class="elegant-icon social_facebook"></i></a></li>
                                    <li class="list-inline-item"><a class="tw" href="{{ site.twitter }}" target="_blank" title="Tweet now"><i class="elegant-icon social_twitter"></i></a></li>
                                    <li class="list-inline-item"><a class="pt" href="{{ site.youtube }}" target="_blank" title="YT Channel"><i class="elegant-icon social_youtube"></i></a></li>
                                </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="sidebar-widget widget_categories wow fadeInUp animated mb-30" data-wow-delay="0.1s">
                        <div class="widget-header-2 position-relative mb-30">
                            <h5 class="mt-5 mb-30">Quick link</h5>
                        </div>
                        <ul class="font-small">
                            <li class="cat-item cat-item-2"><a href="/about">About us</a></li>
                            <li class="cat-item cat-item-4"><a href="/contact">Help & Support</a></li>
                            <li class="cat-item cat-item-5"><a href="/privacy-policy">​​Privacy Policy</a></li>
                            <li class="cat-item cat-item-7"><a href="/services">Hire us</a></li>
                            <li class="cat-item cat-item-7"><a href="/contact">Contact</a></li>
                            <li class="cat-item cat-item-7"><a href="/news/sinulog-updates-2026">Sinulog 2026</a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <!-- <div class="sidebar-widget widget_tagcloud wow fadeInUp animated mb-30" data-wow-delay="0.2s">
                        <div class="widget-header-2 position-relative mb-30">
                            <h5 class="mt-5 mb-30">Tagcloud</h5>
                        </div>
                        <div class="tagcloud mt-50">
                            <a class="tag-cloud-link" href="category.html">beautiful</a>
                            <a class="tag-cloud-link" href="category.html">New York</a>
                            <a class="tag-cloud-link" href="category.html">droll</a>
                            <a class="tag-cloud-link" href="category.html">intimate</a>
                            <a class="tag-cloud-link" href="category.html">loving</a>
                            <a class="tag-cloud-link" href="category.html">travel</a>
                            <a class="tag-cloud-link" href="category.html">fighting </a>
                        </div>
                    </div> -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="sidebar-widget widget_newsletter wow fadeInUp animated mb-30" data-wow-delay="0.3s">
                        <div class="widget-header-2 position-relative mb-30">
                            <h5 class="mt-5 mb-30">Newsletter</h5>
                        </div>
                        <div class="newsletter">
                            <p class="font-medium">Subscribe to our newsletter and get our newest updates right on your inbox.</p>
                            <form class="input-group form-subcriber mt-30 d-flex">
                                <input type="email" class="form-control bg-white font-small email" placeholder="Enter your email">
                                <button class="btn bg-primary text-white subscribe-btn" type="submit">Subscribe</button>
                                <!-- <label class="mt-20"> <input class="mr-5" name="name" type="checkbox" value="1" required=""> I agree to the <a href="#" target="_blank">terms &amp; conditions</a> </label> -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copy-right pt-30 mt-20 wow fadeInUp animated">
                <p class="float-md-left font-small text-muted">© 2021, Proud Bisaya Bai</p>
                <p class="float-md-right font-small text-muted">
                    Proud Bisaya Admin Tool v2
                </p>
            </div>
        </div>
        </footer>
    </div>
    <!-- End Footer -->
    <div class="body-markdown" style="display:none;"></div>
    <!-- Vendor JS-->

    <script src="/assets/js/all-libs.merge.min.js"></script>

    <script src="/assets/js/vendor/lazysizes.min.js"></script>
    <script src="/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/assets/js/vendor/popper.min.js"></script>
    <script src="/assets/js/vendor/bootstrap.min.js"></script>
    <script src="/assets/js/vendor/jquery.slicknav.js"></script>
    <script src="/assets/js/vendor/slick.min.js"></script>
    <script src="/assets/js/vendor/wow.min.js"></script>
    <script src="/assets/js/vendor/jquery.ticker.js"></script>
    <script src="/assets/js/vendor/jquery.vticker-min.js"></script>
    <script src="/assets/js/vendor/jquery.scrollUp.min.js"></script>
    <script src="/assets/js/vendor/jquery.nice-select.min.js"></script>
    <script src="/assets/js/vendor/jquery.magnific-popup.js"></script>
    <script src="/assets/js/vendor/jquery.sticky.js"></script>
    <script src="/assets/js/vendor/perfect-scrollbar.js"></script>
    <script src="/assets/js/vendor/waypoints.min.js"></script>
    <script src="/assets/js/vendor/jquery.theia.sticky.js"></script>
    <script src="/assets/js/vendor/viewer.js"></script>
    <script src="/assets/js/vendor/jquery-viewer.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11.0.16/dist/sweetalert2.all.min.js"></script>

    <!-- NewsBoard JS -->
    <script src="/assets/js/main.js"></script>
    <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=60276b8be83dc40011356b53&product=inline-share-buttons' async='async'></script>
    <script data-cfasync="false" type="text/javascript" src="/assets/js/contact-form-submission-handler.js"></script>
</div>
</body>
<script>
    // Your web app's Firebase configuration
    const firebaseConfig = {
        apiKey: "AIzaSyBCPzUyylI2kELAIDo-IryuIhcui3oXnXw",
        authDomain: "proudbisayabaiph.firebaseapp.com",
        projectId: "proudbisayabaiph",
        storageBucket: "proudbisayabaiph.appspot.com",
        messagingSenderId: "1000822839652",
        appId: "1:1000822839652:web:0e0678396ee723e3c3c271",
        measurementId: "G-HG59DT0Z7S"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
      const DB = firebase.firestore();
      const Storage = firebase.storage();

      DB.settings({timestampsInSnapshots: true});

    //   ref.put(file).then((snapshot) => {
    //     console.log('Uploaded a blob or file!');
    //   });
        //   AWS SDK

        // var albumBucketName = "BUCKET_NAME";
        // var bucketRegion = "REGION";
        // var IdentityPoolId = "IDENTITY_POOL_ID";

        // AWS.config.update({
        // region: bucketRegion,
        // credentials: new AWS.CognitoIdentityCredentials({
        //     IdentityPoolId: IdentityPoolId
        // })
        // });

        // var s3 = new AWS.S3({
        // apiVersion: "2006-03-01",
        // params: { Bucket: albumBucketName }
        // });


      var displayCollage = function(img1, img2, img3, img4, img5){
          return `<ul class="blocks-gallery-grid grid-5">
            <li class="blocks-gallery-item">
                <img class="border-radius-5" src="${img1}" alt="">
            </li>
            <li class="blocks-gallery-item">
                <img class="border-radius-5" src="${img2}" alt="">
                <img class="border-radius-5" src="${img3}" alt="">
            </li>
            <li class="blocks-gallery-item">
                <img class="border-radius-5" src="${img4}" alt="">
                <img class="border-radius-5" src="${img5}" alt="">
            </li>
        </ul>`;
      }

      function showPreview(id){
        setTimeout(function() {
            $('.body-form').hide();
            $('.body-preview').show();
            $('.body-markdown').hide();
            $('.loader-wrapper').hide();
        }, 2000);
       

        DB.collection('posts').doc(`${id}`).get().then((docRef) => {
            data = docRef.data();
            console.log(data);
            $('title').html(data.title)
            $('.entry-title').html(data.title)

            if (data.author_img && data.author_img.length){
                $('.author-avatar').find('img').attr('src', data.author_img)
            }else{
                $('.author-avatar').find('img').attr('src', 'https://d3hukd8e3cn3kb.cloudfront.net/images/logo/pbb-logo-202601.jpg')
            }

            $('.author-name').html(data.author)
            $('.pageeditor').html(`Edited by: ${data.editor}`)
            $('.read-time').html(data.read_time)
            $('.date-published').html('Date to be Published')
            
            if(data.img_post_header && data.img_post_header.length){
                $('.img_post_header').attr('src', data.img_post_header)
            } else {
                $('.img_post_header').attr('src', data.img_big_1000x600)
            }


            $('.preview-content').html((new showdown.Converter()).makeHtml(data.body.replace(/\\n/g, "\n")))

            collage_content = displayCollage(data.img_500_1, data.img_500_2, data.img_500_3, data.img_500_4, data.img_500_5);
            $('#image-gallery').find('.collage-preview').html(collage_content);
            $('#image-gallery').find('figcaption').find('a').attr('href', data.photo_credit_link)
            $('#image-gallery').find('figcaption').find('a i.ti-credit-card').html(`Media Credit: ${data.photo_credit}`)
          }).catch((err) => {
            console.log(err)
          });
      }

      var savePost = function(id){
        return new Promise((resolve, error) => {
            var post = {
                author: $('.author').val(),
                author_image: '',
                body: window.editor.codemirror.getValue(),
                description: $('.description').val(),
                categories: $('.category').val().split(","),
                tags: $('.tags').val().split(","),
                photo_credit: $('.photo_credit').val(),
                photo_credit_link: $('.photo_credit_link').val(),
                img_big_1000x600: $('.seo_image_url').val(),
                img_big_3000x1144: $('.banner_image_url').val(),
                img_500x500: $('.small_banner_image_url').val(),
                img_500_1: $('.collage_image1_url').val(),
                img_500_2: $('.collage_image2_url').val(),
                img_500_3: $('.collage_image3_url').val(),
                img_500_4: $('.collage_image4_url').val(),
                img_500_5: $('.collage_image5_url').val(),
                read_time: '4 minutes',
                layout: 'post',
                title: $('.title').val(),
                place_name: $('.place_name').val(),
                editor: $('.editor').val(),
                read_time: $('.read_time').val()
            }

            DB.collection("posts").doc(`${id}`).set(post, {merge: true})
                .then(() => {
                    console.log("Document successfully written!");
                    resolve();
                })
                .catch((error) => {
                    console.log("Error writing document: ", error);
                    error();
                });
        });
      }

      var showEditForm = function(id){
        $(document).on('click', '#previewPost', function(){
            savePost(id).then(function(){
                let timerInterval
                Swal.fire({
                title: 'Please wait',
                html: 'Blog post is saved, redirecting to the preview page. Please wait for a few seconds.',
                timer: 1000,
                timerProgressBar: true
                }).then((result) => {
                /* Read more about handling dismissals below */
                if (result.dismiss === Swal.DismissReason.timer) {
                    window.location = "/admin/post.html?preview="+id;
                }
                })
                
            }).catch((err) =>{
                console.log(err)
            });
        })

        $(document).on('click', '#savePost', function(){
            savePost(id).then(function(){
                Swal.fire(
                'Success',
                'The blog post is now saved!',
                'success'
                )
            });
        })

        return new Promise((resolve, error) => {
            setTimeout(function() {
                $('.body-form').show();
                $('.body-preview').hide();
                $('.body-markdown').hide();
                $('.loader-wrapper').hide();
            }, 2000);

            $('title').html('Edit Post')

            window.editor = new SimpleMDE({ element: $("#markdown_body")[0] });
            window.editor.codemirror.on("update", function() {
            value = window.editor.codemirror.getValue()
            $("#markdown_body").text(value);
            });

            DB.collection('posts').doc(`${id}`).get().then((docRef) => {
                data = docRef.data();
                
                var body_content = data.body.replace(/\\n/g, "\n");
                body_content = body_content.replace(/\\t/g, "\t");
                window.editor.codemirror.setValue(body_content);

                $('.title').val(data.title)
                $('.author').val(data.author)
                $('.description').val(data.description)
                $('.category').val(data.categories.join(','))
                $('.tags').val(data.tags.join(','));
                $('.photo_credit').val(data.photo_credit)
                $('.photo_credit_link').val(data.photo_credit_link)
                $('.seo_image_url').val(data.img_big_1000x600)
                $('.banner_image_url').val(data.img_big_3000x1144)
                $('.small_banner_image_url').val(data.img_500x500)
                $('.collage_image1_url').val(data.img_500_1)
                $('.collage_image2_url').val(data.img_500_2)
                $('.collage_image3_url').val(data.img_500_3)
                $('.collage_image4_url').val(data.img_500_4)
                $('.collage_image5_url').val(data.img_500_5)
                $('.editor').val(data.editor)
                $('.read_time').val(data.read_time)

                $('.place_name').val(data.place_name)
                resolve()
            }).catch(function(err){
                console.log(err)
                error()
            });
        });
      }

      var format_image_url = function(url){
        base = url.split('?')[0];
        firestorage_url = "https://firebasestorage.googleapis.com/v0/b/proudbisayabaiph.appspot.com/o/posts";
        cloudfront_url = "https://d3hukd8e3cn3kb.cloudfront.net/images/posts";

        if (base){
            url = base.replace(firestorage_url, cloudfront_url);
            return unescape(url)
        }
        
        return url;
      }
      var formatted_body = function(body){
        firestore_regex = /(https:\/\/firebasestorage.googleapis.com)([a-zA-Z\?\=\&\-0-9_\.\%|\/])*/g

        urls = data.body.match(firestore_regex)

        if (urls){
            for (let index = 0; index < urls.length; index++) {
                url = urls[index];
                body = body.replace(url, format_image_url(url))
            }
        }
        return body;
      }

      var showMarkdown = function(id){
        setTimeout(function() {
            $('.body-form').hide();
            $('.body-preview').hide();
            $('.body-markdown').show();
            $('.loader-wrapper').hide();
        }, 2000);
        DB.collection('posts').doc(`${id}`).get().then((docRef) => {
            data = docRef.data();
            var categories = "  - " + data.categories.join("\n  - ");
            var tags = "  - " + data.tags.join("\n  - ");

            window.markdown = `<pre id="markdown_content">
---
author: "${data.author}"
author_img: ""
layout: post
title: "${data.title}"
description: "${data.description}"
categories:
${categories}
tags:
${tags}               
views: "10"
img_big_1000x600: ${format_image_url(data.img_big_1000x600)}
img_big_3000x1144: ${format_image_url(data.img_big_3000x1144)}
img_500x500: ${format_image_url(data.img_500x500)}
img_500_1: ${format_image_url(data.img_500_1)}
img_500_2: ${format_image_url(data.img_500_2)}
img_500_3: ${format_image_url(data.img_500_3)}
img_500_4: ${format_image_url(data.img_500_4)}
img_500_5: ${format_image_url(data.img_500_5)}
photo_credit: "${data.photo_credit}"
photo_credit_link: "${data.photo_credit_link}"
editor: "${data.editor}"
read_time: "${data.read_time}"
---
${formatted_body(data.body)}
</pre>`;
        
        $('.body-markdown').html(markdown)
        })
      }

      $(document).ready(function(){
        console.log('ready')
        let searchParams = new URLSearchParams(window.location.search)

        if(searchParams.has('edit')){
            showEditForm(searchParams.get('edit'))
        }else if(searchParams.has('preview')){
            showPreview(searchParams.get('preview'))
        }else if(searchParams.has('markdown')){
            showMarkdown(searchParams.get('markdown'))
        }
      })
</script>
<style>
    .body-preview::before {
        content: "PREVIEW MODE";
        /* border: 1px solid #4e3a3a; */
        /* background: #8a7f65; */
        color: #cc3928;
        padding: 3px;
        width: 100%;
        text-align: center;
        font-size: 25px;
        margin: 10px;
    }
    .body-preview{
        border: 1px solid #d8d8d8;
        margin: 50px;
        background: white;
    }
    .body-form{
        background-color: #d8d9da;
        background: rgb(176,47,22);
        background: linear-gradient(180deg, rgba(176,47,22,1) 4%, rgba(224,98,35,1) 73%, rgba(237,138,66,1) 100%);
    }
    body{
        background: #c5c5c5;
    }
    .lds-ellipsis,
    .lds-ellipsis div {
      box-sizing: border-box;
    }
    .lds-ellipsis {
        display: block;
        width: 80px;
        height: 80px;
        margin: 0 auto;
        position: absolute;
        top: 50vh;
        left: 46vw;
        width: 8vw;
        min-width: 80px'
    }
    .lds-ellipsis div {
      position: absolute;
      top: 33.33333px;
      width: 13.33333px;
      height: 13.33333px;
      border-radius: 50%;
      background: currentColor;
      color: white;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    .lds-ellipsis div:nth-child(1) {
      left: 8px;
      animation: lds-ellipsis1 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(2) {
      left: 8px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(3) {
      left: 32px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(4) {
      left: 56px;
      animation: lds-ellipsis3 0.6s infinite;
    }
    @keyframes lds-ellipsis1 {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }
    @keyframes lds-ellipsis3 {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(0);
      }
    }
    @keyframes lds-ellipsis2 {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(24px, 0);
      }
    }
    .loader-wrapper{
        background: darkorange;
        background-size: 120%;
        width: 100%;
        height: 100vh;
    }
    .editor-toolbar{
        background: white !important;
        opacity: 1 !important;
    }
    </style>
</html>