---
layout: default
---
<!-- Start Main content -->
<main>
    <!--archive header-->
    <div class="archive-header pt-50">
        <div class="container">
            <h2 class="font-weight-900">Guides</h2>
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Guides
            </div>
            <div class="bt-1 border-color-1 mt-30 mb-50"></div>
        </div>
    </div>
    <div class="pb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="post-module-3">
                        <div class="loop-list loop-list-style-1">

                            {% assign count = 0 %}
                                {% for post in site.posts %}
                                {% if post.categories contains "destination" and count < 3 %}

                                {% assign count = count | plus: 1 %}
                                {% assign image_big = post.img_500x500 %}
                                {% unless image_big %}
                                    {% assign image_big = "https://via.placeholder.com/500x500" %}
                                {% endunless %}

                            <article class="hover-up-2 transition-normal wow fadeInUp animated">
                                <div class="row mb-40 list-style-2">
                                    <div class="col-md-4">
                                        <div class="post-thumb position-relative border-radius-5">
                                            <div class="img-hover-slide border-radius-5 position-relative" style="background-image: url({{ image_big }})">
                                                <a class="img-link" href="{{ post.url }}"></a>
                                            </div>
                                            <ul class="social-share">
                                                <li><a href="#"><i class="elegant-icon social_share"></i></a></li>
                                                <li><a class="fb" href="#" title="Share on Facebook" target="_blank"><i class="elegant-icon social_facebook"></i></a></li>
                                                <li><a class="tw" href="#" target="_blank" title="Tweet now"><i class="elegant-icon social_twitter"></i></a></li>
                                                <li><a class="pt" href="#" target="_blank" title="Pin it"><i class="elegant-icon social_pinterest"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-8 align-self-center">
                                        <div class="post-content">
                                            <div class="entry-meta meta-0 font-small mb-10">
                                                <a href="{{ post.url }}"><span class="post-cat text-danger">{{ post.title }}</span></a>
                                            </div>

                                            {% comment %}
                                            <h5 class="post-title font-weight-900 mb-20">
                                                <a href="single.html">Plan and operate long-distance tours and expeditions organize itineraries, research local attractions, and make arrangements for accommodations, dining, and access to medical care.</a>
                                            </h5>
                                            {% endcomment %}

                                            <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                                <span class="post-on">{{ post.date | date_to_string }}</span>
                                                <span class="time-reading has-dot">{{ post.read_time }} read</span>
                                                <span class="post-by has-dot">{{ post.views }} views</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            {% endif %}
                            {% endfor %}


                            {% assign count = 0 %}
                                {% for post in site.posts %}
                                {% if post.categories contains "food" and count < 3 %}

                                {% assign count = count | plus: 1 %}
                                {% assign image_big = post.img_500x500 %}
                                {% unless image_big %}
                                    {% assign image_big = "https://via.placeholder.com/500x500" %}
                                {% endunless %}

                            <article class="hover-up-2 transition-normal wow fadeInUp animated">
                                <div class="row mb-40 list-style-2">
                                    <div class="col-md-4">
                                        <div class="post-thumb position-relative border-radius-5">
                                            <div class="img-hover-slide border-radius-5 position-relative" style="background-image: url({{ image_big }})">
                                                <a class="img-link" href="{{ post.url }}"></a>
                                            </div>
                                            <ul class="social-share">
                                                <li><a href="#"><i class="elegant-icon social_share"></i></a></li>
                                                <li><a class="fb" href="#" title="Share on Facebook" target="_blank"><i class="elegant-icon social_facebook"></i></a></li>
                                                <li><a class="tw" href="#" target="_blank" title="Tweet now"><i class="elegant-icon social_twitter"></i></a></li>
                                                <li><a class="pt" href="#" target="_blank" title="Pin it"><i class="elegant-icon social_pinterest"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-8 align-self-center">
                                        <div class="post-content">
                                            <div class="entry-meta meta-0 font-small mb-10">
                                                <a href="{{ post.url }}"><span class="post-cat text-danger">{{ post.title }}</span></a>
                                            </div>

                                            {% comment %}
                                            <h5 class="post-title font-weight-900 mb-20">
                                                <a href="single.html">Plan and operate long-distance tours and expeditions organize itineraries, research local attractions, and make arrangements for accommodations, dining, and access to medical care.</a>
                                            </h5>
                                            {% endcomment %}

                                            <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                                <span class="post-on">{{ post.date | date_to_string }}</span>
                                                <span class="time-reading has-dot">{{ post.read_time }} read</span>
                                                <span class="post-by has-dot">{{ post.views }} views</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- End Main content -->