---
layout: default
---

    <!-- Start Main content -->
    <main class="bg-grey pt-50 pb-50">
        <div class="pb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="single-content2">
                            <div class="entry-header entry-header-style-1 mb-50">
                                <h1 class="entry-title mb-30 font-weight-900">
                                    {{ page.title }}
                                </h1>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="entry-meta align-items-center meta-2 font-small color-muted">
                                            <p class="mb-5">
                                                <a class="author-avatar" href="#">
                                                    {% if page.author_img %}
                                                        <img class="img-circle" src="{{ page.author_img}}" alt=""></a>
                                                    {% else %}
                                                        <img class="img-circle" src="https://via.placeholder.com/300x300" alt=""></a>
                                                    {% endif %}
                                                By <a href="author.html"><span class="author-name font-weight-bold">{{ page.author }}</span></a>
                                            </p>
                                            <span class="mr-10"> {{ page.date | date: '%B %d, %Y'}}</span>
                                            <span class="has-dot"> {{ page.read_time }} read</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 text-right d-none d-md-inline">
                                        <ul class="header-social-network d-inline-block list-inline mr-15">
                                            <li class="list-inline-item text-muted">
                                                Share this:
                                            </li>
                                            <li class="list-inline-item"><div class="sharethis-inline-share-buttons"></div></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--end single header-->
                            <figure class="image mb-15 m-auto text-center border-radius-10">
                                {% if page.img_post_header %}
                                    <img class="border-radius-10" src="{{ page.img_post_header }}" alt="post-title" />
                                {% else %}
                                    <img class="border-radius-10" src="{{ page.img_big_1000x600 }}" alt="post-title" />
                                {% endif %}
                            </figure>
                            <!--figure-->
                            <article class="entry-wraper mb-50" id="article-body">
                                <div class="entry-main-content dropcap wow fadeIn animated">
                                    {{ content }}
                                    {% include figure-3.html 
                                        img_500_1=page.img_500_1 
                                        img_500_2=page.img_500_2
                                        img_500_3=page.img_500_3
                                        img_500_4=page.img_500_4
                                        img_500_5=page.img_500_5
                                    %}
                                    {% include subscribe-card.html %}
                                    <!--End Subcrible-->
                                    <p></p>
                                </div>
                                {% include page_tags.html %}
                                <div class="single-social-share clearfix wow fadeIn animated">
                                    <div class="entry-meta meta-1 font-small color-grey float-left mt-10">
                                        <span class="hit-count mr-15"><i class="elegant-icon icon_comment_alt mr-5"></i>182 comments</span>
                                        <span class="hit-count mr-15"><i class="elegant-icon icon_like mr-5"></i>268 likes</span>
                                        <span class="hit-count"><i class="elegant-icon icon_star-half_alt mr-5"></i>Rate: 9/10</span>
                                    </div>
                                    <ul class="header-social-network d-inline-block list-inline float-md-right mt-md-0 mt-4">
                                        <li class="list-inline-item text-muted">
                                            Share this:
                                        </li>
                                        <li class="list-inline-item"><div class="sharethis-inline-share-buttons"></div></li>
                                    </ul>
                                </div>
                                
                                <!--related posts-->
                             
                                <!--More posts-->
                            
                              
                            </article>
                        </div>
                    </div>
                    <div class="col-lg-4 primary-sidebar sticky-sidebar">
                        <div class="widget-area">

                            {% include side-bar-social.html %}
                            {% include side_mostpopular.html %}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>