{% comment %} In-feed slot. Google hidden while site.data.winzir.provider != 'google'. {% endcomment %}
{% if site.data.winzir.provider == 'google' %}
<div class="home-banner-ad" style="width:100%; min-width: 300px;">
     <ins class="adsbygoogle"
          style="display:block"
          data-ad-format="fluid"
          data-ad-layout-key="-fb+5w+4e-db+86"
          data-ad-client="ca-pub-1359231121915800"
          data-ad-slot="8283734255"></ins>
     <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
     </script>
</div>
{% else %}
{% include ads/winzir/rectangle.html %}
{% endif %}
